<div class="p-4 max-w-xl mx-auto mt-16">
  <div class="bg-white shadow-lg rounded-lg overflow-hidden">
    <div class="flex items-center justify-between px-4 py-3 bg-gray-200">
      <h1 class="text-lg font-bold">Shopping Cart</h1>
      <span class="text-gray-600">({{ cartItems.length }} items)</span>
    </div>

    <div class="p-4">

      <div *ngFor="let item of cartItems; trackBy: trackById" class="flex items-center mb-4">
        <img class="h-16 w-16 object-contain rounded-lg mr-4" />
        <div class="flex-1">
          <h2 class="text-lg font-bold">{{ item.product.name }}</h2>
          <span class="text-gray-600">{{ item.product.price | number:'1.2-2' }}</span>
        </div>
        <div class="flex items-center">
          <span class="mr-2 text-gray-600">Quantity:</span>
          <span>{{ item.quantity }}</span>
        </div>

        <button class="text-gray-600 hover:text-red-500" (click)="deleteFromCart(item.product)">
          <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
            <path d="M19 13H5v-2h14v2z"></path>
          </svg>
        </button>
      </div>
    </div>

    <div class="px-4 py-3 bg-gray-200">
      <div class="flex justify-between items-center">
        <span class="font-bold text-lg">Total:</span>
        <span class="font-bold text-lg">${{ getTotalPrice() | number:'1.2-2' }}</span>
      </div>
      <button class="block w-full mt-4 bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded">
        Checkout
      </button>
    </div>
  </div>
</div>
